# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [ ]:
# Your code here
import pandas as pd

data_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

column_count = len(data_df.columns) # 11 Columns
row_count = data_df.size # 44088 Rows
# data_df.info()
"""
 0   Customer                   1071 non-null   object 
 1   ST                         1071 non-null   object 
 2   GENDER                     954 non-null    object 
 3   Education                  1071 non-null   object 
 4   Customer Lifetime Value    1068 non-null   object  -> could be number (float64)
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object  -> could be number (int)
 8   Policy Type                1071 non-null   object 
 9   Vehicle Class              1071 non-null   object 
 10  Total Claim Amount         1071 non-null   float64

"""

"""
number of unique values:
Unique Customers: 1071
Unique States (ST): 8
Unique Genders: 5
Unique Education Levels: 6
Unique Customer Lifetime Values: 1027
Unique Incomes: 774
Unique Monthly Premium Auto: 132
Unique Open Complaints: 6
Unique Policy Types: 3
Unique Vehicle Classes: 6
Unique Total Claim Amounts: 761
"""

nunique_customer = data_df["Customer"].nunique() 
nunique_st = data_df["ST"].nunique() 
nunique_gender = data_df["GENDER"].nunique() 
nunique_education = data_df["Education"].nunique() 
nunique_clv= data_df["Customer Lifetime Value"].nunique() 
nunique_income = data_df["Income"].nunique() 
nunique_mpa = data_df["Monthly Premium Auto"].nunique() 
nunique_complaints = data_df["Number of Open Complaints"].nunique() 
nunique_policy_type= data_df["Policy Type"].nunique() 
nunique_vehicleClass = data_df["Vehicle Class"].nunique() 
nunique_total = data_df["Total Claim Amount"].nunique() 

# # Print each variable
# print(f"Unique Customers: {nunique_customer}")
# print(f"Unique States (ST): {nunique_st}")
# print(f"Unique Genders: {nunique_gender}")
# print(f"Unique Education Levels: {nunique_education}")
# print(f"Unique Customer Lifetime Values: {nunique_clv}")
# print(f"Unique Incomes: {nunique_income}")
# print(f"Unique Monthly Premium Auto: {nunique_mpa}")
# print(f"Unique Open Complaints: {nunique_complaints}")
# print(f"Unique Policy Types: {nunique_policy_type}")
# print(f"Unique Vehicle Classes: {nunique_vehicleClass}")
# print(f"Unique Total Claim Amounts: {nunique_total}")

"""
Categorical Columns: 
    Criteria: Low Cardinality & Nature of the Values
 - States (ST)
 - Genders
 - Education Levels
 - Policy Types
 - Vehicle Classes

"""
# Get unique values for each column
unique_customer = data_df["Customer"].unique()
unique_st = data_df["ST"].unique()
unique_gender = data_df["GENDER"].unique()
unique_education = data_df["Education"].unique()
unique_clv = data_df["Customer Lifetime Value"].unique()
unique_income = data_df["Income"].unique()
unique_mpa = data_df["Monthly Premium Auto"].unique()
unique_complaints = data_df["Number of Open Complaints"].unique()
unique_policy_type = data_df["Policy Type"].unique()
unique_vehicleClass = data_df["Vehicle Class"].unique()
unique_total = data_df["Total Claim Amount"].unique()

# Print each set of unique values
# print("Unique States (ST):", unique_st)
# print("Unique Genders:", unique_gender)
# print("Unique Education Levels:", unique_education)
# print("Unique Open Complaints:", unique_complaints)
# print("Unique Policy Types:", unique_policy_type)
# print("Unique Vehicle Classes:", unique_vehicleClass)
"""
Unique States (ST): ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA' nan]
Unique Genders: [nan 'F' 'M' 'Femal' 'Male' 'female']
Unique Education Levels: ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor' nan]
Unique Policy Types: ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Unique Vehicle Classes: ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car' 'Luxury Car' nan]
"""

data_df.describe()

"""
Income	Monthly Premium Auto	Total Claim Amount
count	1071.000000	1071.000000	1071.000000
mean	39295.701214	193.234360	404.986909
std	30469.427060	1601.190369	293.027260
min	0.000000	61.000000	0.382107
25%	14072.000000	68.000000	202.157702
50%	36234.000000	83.000000	354.729129
75%	64631.000000	109.500000	532.800000
max	99960.000000	35354.000000	2893.239678

conclusions:
    monthly premium auto has a much higher mean than median -> has outliers also indicated by the very high max value of 35354
    for the other two columns mean and median are closer together -> fewer outliers

categorical data conclusions:
    geners are misspelled -> there should only be two 
    education levels has duplicate bachelors degree. College is an unspecific version of Bachelor, master, doctor
"""

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [ ]:
# Your code here
location_counts = data_df["ST"].value_counts()
worst_5 = location_counts.sort_values().head(5)
#len(location_counts) 8 in total (including nan)
""" 
ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
"""
worst_5

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [ ]:
# Your code here
policies_df = data_df["Policy Type"].value_counts().sort_values().reset_index()
policies_df.columns = ['Policy Type', 'Count']
most_popular_policy_row = policies_df.iloc[-1]
print(most_popular_policy_row) # personal Auto

Policy Type    Personal Auto
Count                    780
Name: 2, dtype: object

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [ ]:
# Your code here
personal_auto_df = data_df.loc[data_df["Policy Type"] == "Personal Auto"]
corporate_auto_df = data_df.loc[data_df["Policy Type"] == "Corporate Auto"]
peronal_auto_avg_income = personal_auto_df.Income.mean()
corporate_auto_avg_income = corporate_auto_df.Income.mean()
print(f"peronal_auto_avg_income: {peronal_auto_avg_income}")
print(f"corporate_auto_avg_income: {corporate_auto_avg_income}")
# People with corporate auto policy have a slightly higher average income (41k to 38k)

peronal_auto_avg_income: 38180.69871794872
corporate_auto_avg_income: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here

p75 = data_df["Total Claim Amount"].quantile(0.75)
data_q75 = data_df[data_df["Total Claim Amount"] >= p75]

data_q75.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count    273.000000            273.000000          273.000000
mean   24106.545788            163.000000          774.005353
std    27542.717560            613.645376          291.304731
min        0.000000             63.000000          532.800000
25%        0.000000             99.000000          595.200000
50%    18846.000000            113.000000          673.342650
75%    44897.000000            133.000000          844.481918
max    99316.000000          10202.000000         2893.239678